.main {
    height: 50px;
    background-color: green;

}

.second-main {
    height: 700px;
    width: 1200px;
    border: 1px solid black;
}

.left {
    border: 1px solid black;
    width: 70%;
}

.right {
    border: 1px solid black;
    width: 30%;

}

#cover {
    width: 100%;
}

.item-avatar {
    height: 40px;
    width: 40px;
}

.messaggi {
    width: 100%;
    height: 100%;

}